__pycache__/
*.pyc
.pytest_cache/
.venv/

.DS_Store

module_05_ppe/datasets/raw/
module_05_ppe/datasets/processed/
module_05_ppe/models/training_runs/
module_05_ppe/outputs/

*.pt
*.onnx
*.weights

*.mp4
*.mov
*.avi
*.mkv
